.task__wrapper {
	padding: 20px 20px;
	box-sizing: border-box;
	flex-grow: 1;
	background-color: var(--color-background);
	width: fit-content;
}

.task {
	padding: 20px 20px;
	border-radius: 10px;
	box-shadow: 0 0 0 1px black;
	box-shadow: 5px 5px 20px 7px rgba(0, 0, 0, 0.35);
}

.task__code-editor-wrapper {
	margin: 0.5rem 0 1rem 0;
	font-size: var(--font-size--medium);
	width: 100%;
}

.task__question {
	margin-bottom: 3px;
}

.task__annotation {
	margin-top: 3px;
}

.task__question,
.task__annotation {
	background-color: inherit;
	font-family: "Kraskario", "Times New Roman", Times, serif;
	font-size: var(--font-size--medium);
}
