body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
}

main {
	width: 450px;
	box-shadow: 0 0 0 1px black;
	padding: 10px;

	display: flex;
	flex-direction: column;
	align-items: center;

	font-family: Monsterrat, sans-serif;
}


main > * {
	box-shadow: 0 0 0 1px black;
	font-size: var(--font-size--default);
}

.settings {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
}

.task-wrapper {
	width: 100%;
	margin: 2rem 0;
}

.task {
	width: inherit;
	padding: 10px;
	box-sizing: border-box;
	flex-grow: 1;
	background-color: white;
}

.task__author {
	display: flex;
	justify-content: flex-end;
	padding: 5px;
	padding-right: 10px;
	box-sizing: border-box;
}

.task__code-editor-wrapper {
	margin: .5rem 0 .5rem 0;
}

.answer {
	width: 100%;
}

.answer-row {
	display: flex;
}

#answer--input {
	flex-grow: 1;
	width: unset;
}

textarea {
	font-family: inherit;
	font-size: var(--font-size--default);
}
